<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	 <category label = "General">
		<setting id="cache_enabled" type="bool" label="Enable Caching" default="true"/>
		<setting id="dev_log" type="bool" label="Enable Scrapper Log [DEV]" default="false"/>
		<setting label="Disable All" type="action" option="close" action="RunPlugin(plugin://script.module.nanscrapers/?mode=DisableAll)"/>
		<setting label="Enable All" type="action" option="close" action="RunPlugin(plugin://script.module.nanscrapers/?mode=EnableAll)"/>
	</category>
	<category label="Scrapers 1">
		<setting label="series9" type="lsep"/>
		<setting id="series9_enabled" type="bool" label="Enabled" default="true"/>
	</category>
</settings>