<setting label="Orion" type="lsep" />
<setting type="sep" />
<setting id="provider.orionoid" type="bool" label="Orion" default="true" />
<setting id="provider.orionoid.settings" type="action" label="Settings" option="close" action="RunPlugin(plugin://script.module.orion?action=dialogSettings)" subsetting="true" visible="eq(-1,true)" />
<setting id="provider.orionoid.info" type="enum" label="Label" lvalues="None|All|Provider|Popularity|Age|Popularity & Age" default="1" subsetting="true" visible="eq(-2,true)" />
